.imgCard {
	cursor: pointer;
	overflow: hidden;
	border-radius: 8px;
	width: 100%;
	height: 100%;
}

.img {
	object-fit: cover;
	transition: transform var(--animation-duration) var(--timing-function);
	width: 100%;
	height: 100%;
}
