:root {
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	--animation-duration: 300ms;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fafafa;
	color: #212121;
	line-height: 1.5;
	padding-bottom: 20px;
}

img {
	display: block;
	max-width: 100%;
}
