.loadMoreBlock {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.loadMoreBtn {
	width: 20%;
	padding: 10px 20px;
	background-color: #1a1aff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 15px;
}
